 body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
 .image-top{
    background-image: url('./assets/backgrounds/h_img.jpg');
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-repeat: no-repeat;
    background-size:cover; 
    margin: 20px;
}  
.welcome{
    font-size: 150%;
    text-align: center;
    }
.subhead{
    font-size: 50%;
    }
    
.about{
    text-align: center;
    margin:5% 0 5% 0 ;
    }

.service{
    background-image: url('./assets/backgrounds/s_image.jpg');
    background-size: cover;
    height:40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding-top: 5% 0;
    width: 100%;
    margin: 5% 0;
}
.whatWeDo>h3{
    text-align: center;
}

 .portfolio{
    box-sizing: border-box;
    width: 100%;
    width: 70vw;
    margin: 5px auto;
    
            
}
.portfolio h3{
    text-align: center;
}
.row1 div img{
    margin-bottom: 5px;
    width: 100%;

    
}
.row1 div img:hover{
   transform: scale(1.1);
   overflow: hidden;
   opacity: .6;
   transition: transform 1s;

}

/* .contact{

    background-image: url('./assets/backgrounds/c_image.jpg');
    height: 40vh;
    width: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin: 10px;

}
.social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
        margin: 2%;
        padding: 5px;
} 
    
#hoverdiv{
        display: none;
        position: absolute;
        font-size: 14px;
        padding: 7px;
        background-color: white;
        color: #404040;
        border: 1px solid black;
        z-index: 2;
        width: fit-content;
        opacity: .8;
        height: 50px;

}  */

.delani{
    text-align: center;
    margin-top: 40px;
} 
   


                   